@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Libre+Franklin:wght@100&family=Montserrat:wght@100;200;300;400;500;600&family=Open+Sans:wght@700&family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
    --yellow: #f5bf23;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .1rem solid rgba(0, 0, 0, .3);
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

@mixin titleText($titleSize){
    font-size: $titleSize;
    color: var(--black);
    text-transform: capitalize;
}

@mixin graphText($graphSize){
    font-size: $graphSize;
    color: var(--light-color);
    line-height: 2;
}

@mixin iconsBox(){
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--light-bg);
    color: var(--black);
    cursor: pointer;
    text-align: center;

    &:hover {
        background: var(--black);
        color: var(--white);
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--yellow);
    }
}

@keyframes fadeIn{
    0%{
        top: 50%;
        opacity: 0;
    }
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

    .logo {
        @include titleText(2.5rem);

        span {
            color: var(--yellow);
        }
    }

    .navbar a {
        @include titleText(2rem);
        margin: 0 1rem;

        &:hover {
            color: var(--yellow);
        }
    }

    .icons div {
        @include iconsBox();
        margin-left: .3rem;
    }

    #menu-btn {
        display: none;
    }

    .search-form {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        width: 70rem;
        background: var(--white);
        box-shadow: var(--box-shadow);
        padding: 1rem;
        display: none;
        align-items: center;
        gap: 1rem;
        animation: fadeIn .2s linear;

        &:active{
            display: flex;
        }

        input {
            width: 100%;
            padding: 1.2rem 1.4rem;
            background: var(--light-bg);
            font-size: 1.6rem;
            color: var(--light-color);
        }


        label {
            font-size: 2.5rem;
            color: var(--black);
            margin: 0 1rem;
            cursor: pointer;

            &:hover {
                color: var(--yellow);
            }
        }
    }

    .login-form {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
        width: 40rem;
        background: var(--white);
        box-shadow: var(--box-shadow);
        padding: 2rem;
        align-items: center;
        animation: fadeIn .2s linear;

        h3 {
            @include titleText(2.5rem);
            text-transform: uppercase;
        }

        .box {
            width: 100%;
            padding: 1.2rem 1.4rem;
            background: var(--light-bg);
            font-size: 1.6rem;
            color: var(--light-color);
            margin: .7rem;
        }
    }
}












//Media-Queries
@media (max-width:1200px){

    .header{
       padding:1.5rem 2rem;
    }
 
    section{
       padding:3rem 5%;
    }
 }
 
 @media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
    section{
       padding:3rem 2rem;
    }
 
    .header{
 
       #menu-btn{
          display: inline-block;
       }
 
       .navbar{
          position: absolute;
          top:99%; left:0; right:0;
          background: var(--white);
          border-top: var(--border);
          border-bottom: var(--border);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          transition:.2s linear;
 
          &.active{
             clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          }
 
          a{
             display: block;
             margin:2rem;
          }
       }
    }
 
 }
 
 @media (max-width:768px){
 
    .header{
 
       .search-form{
          width: 90%;
       }
 
       .login-form{
          width: 90%;
       }
    }
 
    .home .slide{
       justify-content: center;
 
       .content{
          text-align: center;
 
          h3{
             font-size: 3rem;
          }
       }
    }
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .about .row .content h3{
       font-size: 2.5rem;
    }
 
 }